name: Build
on:
  pull_request:
  push:
    tags:
      - '*.*.*'
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

  build:
    runs-on: ubuntu-latest
    needs: [ unit-tests ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: ./gradlew bundleDebug

  release:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Build Changelog
        uses: mikepenz/release-changelog-builder-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "app/build/outputs/bundle/debug/app-debug.aab"
          bodyFile: ${{steps.github_release.outputs.changelog}}
          token: ${{ secrets.GITHUB_TOKEN }}


